html, body {
    height: 100%; /* Ensure full viewport height */
    margin: 0;
}

body {
    background: linear-gradient(to bottom right, #f44336, #2196f3); /* Initial gradient */
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    color: white;
    font-family: sans-serif;
    background-size: 400% 400%;
    animation: gradientAnimation 10s infinite alternate; /* Animated gradient */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Remove fixed height to allow content to flow */
}

#datetime-top-right-init {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.9em;
}

.loading-container {
    margin-bottom: 20px; /* Space between loading text and circle */
}

#loading-text {
    font-size: 1.5em;
    margin-bottom: 5px;
}

#please-wait-text {
    font-size: 1.2em;
}

.countdown-circle-container {
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for the circle */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px; /* Space between circle and copyright */
}

#countdown-timer {
    font-size: 3em;
    /* Centered due to flex properties of the parent */
}

.copyright {
    font-size: 0.8em;
    color: #ccc;
    position: fixed; /* Stick to the viewport */
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.3); /* Optional: Add a subtle background for better visibility */
}

.hidden {
    display: none;
}
