body {
    font-family: sans-serif;
    color: #fff; /* Default text color to white */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400% 400%;
    animation: rainbow-animation 10s ease infinite;
}

html {
    background: transparent; /* Make sure the html background doesn't interfere */
}

#initial-welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#datetime-top-right-initial {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.9em;
    color: #fff;
}

#welcome-animation {
    text-align: center;
}

#cobu-tech-typing {
    font-size: 2.0em;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
}

#best-tech-text {
    font-size: 1.2em;
    color: #fdd835;
    white-space: pre-line;
    display: none;
    opacity: 0;
}

@keyframes rainbow-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
